@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

input,
textarea,
select {
  padding: 0 10px;
}

.custom-scroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
.custom-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20%;
}

/* Handle */
.custom-scroll::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.company-logo {
  filter: invert(98%) sepia(21%) saturate(173%) hue-rotate(254deg)
    brightness(115%) contrast(100%);
}

#for-hide .ant-select-selection-item {
  background-color: transparent;

  
}

#for-hide .ant-select-selection-item svg {
  display: none;
}

.ant-btn-sm {
  background-color: white;
  color: gray
}



.ant-table-body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
.ant-table-body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20%;
}

/* Handle */
.ant-table-body::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.ant-table-body::-webkit-scrollbar-thumb:hover {
  background: #555;
}